h1{
    background: #2c85c0;
    padding: 50px;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 10px;

}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbarItem{
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    
}

